header, main, footer {
    display: none;
    opacity: 0.5;
}

body {
    background-color: #000;
    background-image: url('../img/site.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1200px;
}

.promo-container {

}